#requireResource("com.ambientia.confluence.macros.dreambrokerFeed:dreambrokerFeed-resources")

#if ( !$defaultcategory )
	#set ($defaultcategory = "Kaikki")
#end

#if ( !$limit )
	#set ($limit = 50)
#end

<div id="dreambroker-feed">
</div>

    <fieldset class="parameters hidden">
            <input type="hidden" id="dbJSONFeed" value="$jsonFeed">
    </fieldset>

<script>
showDBFeed('dreambroker-feed', 'dbJSONFeed', $limit, "$defaultcategory");
</script>
